h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 25px;
    text-align: center;
}

a {
    color: #908f8f;
    text-decoration: none;
}

body{
    background-color: rgb(23, 22, 22);
    font-family: 'Public Sans', 'Inter',  sans-serif;
    min-height: 150vh;
    color: #ffffff;
}
nav {
    background: rgb(0, 0, 0);
backdrop-filter: blur(7px);
height: 75px;
width: 100%;
}

nav ul{
    float: right;
    margin-right: 0px;
}

nav ul li{
    display: inline-block;
    margin-right: 40px; 
    margin-top: 10px; 
}

nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

nav ul li a:hover{
    color: #626161;
}

.Page{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 75px;
    margin: 15px;
}

.circle-photo{
    width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.u-photo.circle-photo {
    display: block;
    margin: 0 auto;
  }

.job{
    opacity: 60%;
    font-size: 20px;
}

.hero {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center; 
    text-align: center; 
}

.hero-text{
    text-align: center;
}

.hero-text h1{
    font-size: 60px;
}

.hero-text p{
    font-size: 20px;
}

.hero-text .btn{
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(49, 48, 48);
    color: #ffffff;
    border-radius: 20px;
    text-decoration: none;
} 

.hero-text .btn:hover{
    background-color: rgb(121, 121, 121);
}



.burger-button{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 930px){
    .burger-button{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 100vh;
        text-align: center;
        top: 60px;
        left: -120%;
        transition: all;
    }

    nav ul li{
        display: block;
        padding: 30px;
    }

    nav ul li a{
        font-size: 25px;
        color: #ffffff;
        text-transform: uppercase;
    }
}

#check:checked ~ ul{
    left: 0;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card{
    width: 400px;
    background-color: rgb(217, 215, 215);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    color: black;
}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content h3{
font-size: 28px;
margin-bottom: 8px;
text-align: center;
}

.card-content p{
    color: rgb(91, 91, 97);
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    
    color: #ffffff;
}

.card-content .btn:hover{
    background-color: #636161;
}




#featured-works {
    color: #000000;
    min-height: 100vh;
    background-color: white; /* White background */
    padding: 50px 20px; /* Optional: adds space around the content */

}

#featured-works h2{
    text-align: center;
    font-size: 35px;
}

.site-footer {
    margin-top: auto; /* THIS pushes it to the bottom */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
