img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
  }
  
  .image-container{
    margin-top: 10px;
  }

  section {
      max-width: 800px;
      margin: 2rem auto;
      padding: 2rem;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

     article {
      max-width: 800px;
      margin: 2rem auto;
      padding: 2rem;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

  body {
    background-color: rgb(32, 32, 32);
    font-size: 20px;
    color: black;
  }
  
  .p-summary{
    text-align: center;
  }

  .palette {
  display: flex;
  height: 300px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
 border: #000000 1px solid;
}

.color {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.color span {
  opacity: 0;
  transition: opacity 0.1s linear;
}

.color:nth-child(1) {
  background: #FFFFFF;
}

.color:nth-child(2) {
  background: #ACAFAC;
}

.color:nth-child(3) {
  background: #131516;
}

.color:nth-child(4) {
  background: #000000;
}

.color:hover {
  flex: 2;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color:hover span {
  opacity: 1;
}

/* Sidebar container */
#sideNav {
  position: fixed;
  top: 20px;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #111;
  overflow-x: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

/* When open, slide into view */
#sideNav.open {
  transform: translateX(0);
}

/* Sidebar links */
#sideNav a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Toggle button */
#sideNavToggle {
  position: fixed;
  top: 15px;
  left: 145px;
  z-index: 1100;
  background-color: rgb(66, 66, 66)
  color: white;
  padding: 10px;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}


