body {
   background-color: rgb(32, 32, 32);
    font-family: 'Public Sans', 'Inter',  sans-serif;
    color: black;
    font-size: 20px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  article {
      max-width: 800px;
      margin: 2rem auto;
      padding: 2rem;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    section {
      max-width: 800px;
      margin: 2rem auto;
      padding: 2rem;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .dt-published {
      color: white;
    }